{% extends 'base_generic.html' %}

{% block style %}
    <style>
        .link {
            display: inline-block;
        }
        .submit {
            background-color: green;
        }
        .submit:hover {
            background-color: #20A020;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    {% if key %}
        <p>key: {{ key }}</p>
    {% endif %}
    {{ form.lecture_data.errors }}
    {{ form.lecture_data }} <br>
    <br>
    {{ form.use_link.label }} {{ form.use_link }} <div id="link" class="link">{{ form.links }}</div><br>
    {{ form.include_aa.label }} {{ form.include_aa }}
    <br><br>
    <span id="test">같은 형식으로 수업 데이터를 수정하거나 추가할 수 있습니다.</span><br>
    <span>변경할 것이 없으면 그대로 다운로드하면 됩니다.</span><br>
    <br>
    <input type="submit" value="다운로드" class="submit">
    </form>

    <script>
    if (!document.getElementById("id_use_link").checked)
    {
        document.getElementById("link").style.display = "none";
    }
    document.getElementById("id_use_link").onchange = showHideLinks
    function showHideLinks()
    {
        const use_link = document.getElementById("id_use_link").checked;
        const links = document.getElementById("link");
        console.log("use_link" + use_link + links)
        if (document.getElementById("id_use_link").checked)
        {
            links.style.display = "inline-block";
        }
        else
        {
            links.style.display = "none";
        }
    }
    </script>
{% endblock %}